/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Builds]/
/[Logs]/
/[MemoryCaptures]/
/[UserSettings]/

# Visual Studio/Code 관련
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# OS 관련
.DS_Store
Thumbs.db